/* Navbar.scss */
.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navItem {
  margin: 0 1rem;
}

.navItem a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: lightgray;
}

// Mobile
@media (max-width: 767px) {
  .navbar {
    .inner {
      padding: 5px 10px;
    }

    .navItem {
      margin: 0 0.5rem;
    }

    .navItem a {
      font-size: 14px;
    }
  }
}

// Tablet Size
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    .inner {
      padding: 10px 15px;
    }

    .navItem {
      margin: 0 0.8rem;
    }

    .navItem a {
      font-size: 16px;
    }
  }
}

// Dekstop Size
@media (min-width: 1024px) {
  .navbar {
    .inner {
      padding: 10px 20px;
    }

    .navItem {
      margin: 0 1rem;
    }

    .navItem a {
      font-size: 18px;
    }
  }
}
